.moduleWrapper {
  padding: 10px;
  border: 2px solid black;
  background-color: #e1f0f4;
  width: 45%;
  margin-bottom: 1rem;
  overflow-y: scroll;
  height: 60vh;
}

.moduleTitle {
  padding: 0.5rem;
  justify-content: center;
  text-align: center;
}

.dataList {
  // todo
}