.menuDropdownWrapper {
  // look at previous example. 100% screen size, black with opacity set to 40%.
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
}

.menuDropdown {

}

.menuButtons {

}

.menuButton {

}